<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Media Gems</title>
  <link rel="stylesheet" href="https://unpkg.com/tailwindcss@2.2.19/dist/tailwind.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <link rel="stylesheet" href="../../public/stylesheets/tailwindoutput.css">
  <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>

<body>
    <header>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      Group 3 - Project 2
    </footer>
  {{!-- </div> --}}
    {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>