{{> sidebar}}

<table>
    <tbody>
      <tr>
          <td>
              <div>
                  First Name: {{first_name}}
              </div>
          </td>

      </tr>
      <tr>
          <td>
              <div>
            

 
                 
              </div>
          </td>

      </tr>

    </tbody>
</table>

<p>   {{last_name}}
    {{user_name}}
    {{email}}
    </p>